body{
    background-color: orange; 
    
}
h1{
    background-color: brown;
    padding: 16px;
    text-align: center;
    font-size : 30px;
}
*{
    font-size: 20px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
}
.visit{
    text-align: center;
    background-color: darkolivegreen;
    padding: 6px;
}
h2{
    background-color: bisque;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}
img{
    margin-bottom: 10px; 
}
.list li{
    margin: 20px;
}
.order li{
    margin: 20px;
}